@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  @apply h-full w-full font-[Inter] text-gray-700 selection:bg-emerald-500 selection:text-gray-50 dark:text-gray-400;
}

.active #sidebar-icon {
  @apply text-emerald-600;
}

.active #sidebar-text {
  @apply font-bold text-gray-600 dark:text-gray-300;
}
