@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#root {
  @apply h-full w-full font-[Inter] text-gray-700 selection:bg-emerald-500 selection:text-gray-50 dark:bg-gray-900 dark:text-gray-400;
}

.active #sidebar-icon {
  @apply text-emerald-600;
}

.active #sidebar-text {
  @apply font-bold text-gray-600 dark:text-gray-300;
}

.dark .toast {
  background-color: oklch(21% 0.034 264.665) !important;
  color: oklch(87.2% 0.01 258.338) !important;
}

.recharts-default-tooltip {
  @apply rounded-md shadow-2xl dark:border-gray-700! dark:bg-gray-900!;
}

.recharts-tooltip-item {
  @apply text-gray-800! dark:text-gray-200!;
}
